ADDED_FILES=nothing
APP_ALT_DEVICE=/dev/mmcblk0p6
APP_MAIN_DEVICE=/dev/mmcblk0p5
APP_NAME=data_part_image.ext4
APP_VERSION=1.7.0
COMPATIBILITY=revA
DESTINATION_DIR=/home/r-boussellaoui/poky/rpi-buildroot-submodule/swu-generator/destination
OTHER_PARAM=TEST-test2
PRIVATE_KEY_PATH=/home/r-boussellaoui/poky/rpi-buildroot-submodule/swupdate/priv.pem
PUBLIC_KEY_PATH=/home/r-boussellaoui/poky/rpi-buildroot-submodule/swupdate/public.pem
REBOOT_STATE=NORMAL
ROOTFS_ALT_DEVICE=/dev/mmcblk0p3
ROOTFS_MAIN_DEVICE=/dev/mmcblk0p2
ROOTFS_NAME=rootfs.ext4
ROOTFS_VERSION=6.0.0
SOURCE_DIR=/home/r-boussellaoui/poky/rpi-buildroot-submodule/output/images
