Config file
  
Generator configuration 
########################
Destination directory=destination  
Source directory=source 
Private key path=test 
Public key path=publique 

Sw-description configuration 
############################
Application name=app_namedfdfdf
Application version=5.2
Rootfs name=rootfs_name
Rootfs version=1.2.3
Added files=nothing

Archive configuration 
#######################
Archive version=1.244
Reboot state=REBOOT
Other parameter=nogv,g

