Config file
  
Generator configuration 
########################
Destination directory=destination  
Source directory=source 
Private key path=test 
Public key path=publique 

Sw-description configuration 
############################
Application name=app_name
Application version=0.0.0
Rootfs name=rootfs_name
Rootfs version=0.0.0
Added files=nothing

Archive configuration 
#######################
Archive version=0.0.0
Reboot state=no
Other parameter=no

